<h1>Bill Lookup</h1>

<form>
  <div class="form-group">
    <label for="keyword">Keyword</label>
      {{input value=keyword id="keyword"}}
  </div>

  <button {{action 'billLookup'}}>Submit</button>
</form>
