<h1>About</h1>

  <div class="row">
    <div class="col-lg-8 pull-middle">
      <h2>C I T I Z E N F O <small>was created by Erik Tolentino and Yvonna Contreras. It is a simple app utilizing EmberJS and APIs which allows users to find legislators within their area, search for bills with keywords, and find out more information about a specific bill.</small></h2>
    </div>
  </div>
