
<div class="page-header">
  <h1>C I T I Z E N F O<br>
    <small>For the informed citizen</small>
  </h1>
  <ol class="breadcrumb">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>Contact</li>
    <li>About</li>
  </ol>
</div>
<div class="container">
{{outlet}}
</div>
