<h1>{{model.params.keyword}}Results</h1>
<ul>
  {{#each model as |bill|}}
  <li><strong>Title:</strong> {{bill.short_title}}</li>
      <strong>Id:</strong> {{bill.bill_id}}
  <br>
  <br>
  {{/each}}
</ul>
