<h3>Legislators in your area:</h3>
<ul>
  {{#each model as |legislator|}}
  <h3>{{legislator.first_name}} {{legislator.last_name}} </h3>
      Contact: <a href={{legislator.contact_form}}>{{legislator.contact_form}}</a>
  {{/each}}
</ul>
